{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12",
          "browsers": "defaults"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
